@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.container {
    @apply 3xl:px-[375px] xll:px-[135px] lg:px-[80px] md:px-[40px] px-[20px] mx-auto max-w-full;
}

.image-dragging {
    transform: scale(1.05);
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* scrollbar design */
.scrollbar::-webkit-scrollbar {
    width: 0.6rem;
    background: #f1f1f1;
    border-radius: 0.5rem;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: pointer;
  }